<template>
  <div class="data-item" :class="labelPositionClass" :style="itemStyle">
    <div class="data-item__label" :style="composedLabelStyle">{{ label }}</div>
    <div
      v-if="!(typeof value === 'string' && value === '' && showNoValue)"
      class="data-item__value"
      :style="composedValueStyle"
    >
      <slot v-if="type === 'text'">{{ value }}</slot>
      <div
        v-else-if="type === 'html'"
        v-html="value"
        class="data-item__value"
        :style="composedValueStyle"
      ></div>
    </div>
    <div
      v-else-if="
        ((typeof value === 'string' && value === '') || value === undefined) &&
        showNoValue
      "
      class="data-item__novalue"
      :style="composedNoValueStyle"
    >
      <slot name="novalue">{{ noValue }}</slot>
    </div>
    <div v-else class="data-item__value" :style="composedValueStyle"></div>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: false,
      default: 'text',
    },

    labelPosition: {
      type: String,
      required: false,
      default: 'left',
    },

    label: {
      type: String,
      required: false,
      default: '',
    },

    value: {
      type: [String, Number],
      required: false,
    },

    valueStyle: {
      type: Object,
      required: false,
      default() {
        return {};
      },
    },

    noValueStyle: {
      type: Object,
      required: false,
      default() {
        return {};
      },
    },

    labelWidth: {
      type: [String, Number],
      required: false,
      default: '6.5rem',
    },

    labelStyle: {
      type: Object,
      required: false,
      default() {
        return {};
      },
    },

    width: {
      type: [String, Number],
      required: false,
      default: '',
    },

    color: {
      type: String,
      required: false,
      default: 'grey',
    },

    showNoValue: {
      type: Boolean,
      required: false,
      default: false,
    },

    noValue: {
      type: String,
      required: false,
    },
  },

  computed: {
    labelPositionClass() {
      switch (this.labelPosition) {
        case 'left':
          return 'data-item--left';
        case 'right':
          return 'data-item--right';
        case 'top':
          return 'data-item--top';
        case 'bottom':
          return 'data-item--bottom';
      }

      return '';
    },

    itemStyle() {
      return {
        width: typeof this.width === 'string' ? this.width : this.width + 'px',
      };
    },

    composedLabelStyle() {
      let width = '';
      let background = '';
      let borderColor = '';
      let color = '';

      if (this.labelPosition === 'left' || this.labelPosition === 'right') {
        width =
          typeof this.labelWidth === 'string'
            ? this.labelWidth
            : this.labelWidth + 'px';
      } else if (
        this.labelPosition === 'top' ||
        this.labelPosition === 'bottom'
      ) {
        width = '100%';
      }

      switch (this.color) {
        case 'grey':
          background = '#eee';
          borderColor = '#dcdfe6';
          color = '#515a6e';
          break;

        case 'blue':
          background = '#cadff7';
          borderColor = '#3e89dc';
          color = '#1575df';
          break;

        case 'red':
          background = '#ffb9b9';
          borderColor = '#f14f4f';
          color = '#d81e1e';
          break;

        case 'yellow':
          background = '#ffffc3';
          borderColor = '#ffff58';
          color = '#ffe700';
          break;

        case 'green':
          background = '#9cd1a1';
          borderColor = '#419e4b';
          color = '#00a313';
          break;
      }

      return {
        width,
        background,
        borderColor,
        color,
        ...this.labelStyle,
      };
    },

    composedValueStyle() {
      let borderColor = '';
      let color = '';

      switch (this.color) {
        case 'grey':
          borderColor = '#dcdfe6';
          color = '#515a6e';
          break;

        case 'blue':
          borderColor = '#3e89dc';
          color = '#1575df';
          break;

        case 'red':
          borderColor = '#f14f4f';
          color = '#d81e1e';
          break;

        case 'yellow':
          borderColor = '#ffff58';
          color = '#ffe700';
          break;

        case 'green':
          borderColor = '#419e4b';
          color = '#00a313';
          break;
      }

      return {
        borderColor,
        color,
        ...this.valueStyle,
      };
    },

    composedNoValueStyle() {
      let borderColor = '';
      let color = '';

      switch (this.color) {
        case 'grey':
          borderColor = '#dcdfe6';
          color = '#adadad';
          break;

        case 'blue':
          borderColor = '#3e89dc';
          color = '#85b0df';
          break;

        case 'red':
          borderColor = '#f14f4f';
          color = '#f38484';
          break;

        case 'yellow':
          borderColor = '#ffff58';
          color = '#fff69d';
          break;

        case 'green':
          borderColor = '#419e4b';
          color = '#98cf9f';
          break;
      }

      return {
        borderColor,
        color,
        ...this.valueStyle,
        ...this.noValueStyle,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
* {
  box-sizing: border-box;
}

.data-item {
  display: flex;

  &__label {
    display: flex;
    align-items: center;
    padding: 0.7rem;
    line-height: 1;
    text-align: right;
    background: #eee;
    border: 1px solid #dcdfe6;
  }

  &__value {
    flex: 1;
    display: flex;
    padding: 0.7rem;
    border: 1px solid #dcdfe6;
  }

  &__novalue {
    flex: 1;
    display: flex;
    padding: 0.7rem;
    border: 1px solid #dcdfe6;
    color: #adadad;
  }

  &--left {
    & > .data-item__label {
      justify-content: flex-end;
      padding-right: 0.5rem;
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
    }

    & > .data-item__value,
    & > .data-item__novalue {
      display: flex;
      align-items: center;
      line-height: 1;
      border-left: none;
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }

  &--right {
    flex-direction: row-reverse;

    & > .data-item__label {
      justify-content: start;
      padding-left: 0.5rem;
      border-top-right-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

    & > .data-item__value,
    & > .data-item__novalue {
      align-items: center;
      line-height: 1;
      border-right: none;
      border-top-left-radius: 0.3rem;
      border-bottom-left-radius: 0.3rem;
    }
  }

  &--top {
    flex-direction: column;
    & > .data-item__label {
      justify-content: start;
      padding: 0.5rem;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }

    & > .data-item__value,
    & > .data-item__novalue {
      border-top: none;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }
  }

  &--bottom {
    flex-direction: column-reverse;

    & > .data-item__label {
      justify-content: start;
      padding: 0.5rem;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

    & > .data-item__value,
    & > .data-item__novalue {
      border-bottom: none;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }
  }
}
</style>
