<template>
  <DataItem label="价格" value="200元" color="blue" />
  <br />
  <DataItem label="数字" labelPosition="top" color="red">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
    </ul>
  </DataItem>
  <br />
  <DataItem label="无数据" showNoValue>
    <template #novalue>
      <i class="icon"></i>
    </template>
  </DataItem>
</template>

<script>
import DataItem from './components/DataItem.vue';

export default {
  name: 'App',
  components: {
    DataItem
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

<style scoped>
.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('@/assets/novalue.png');
  background-size: contain;
}
</style>
